@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


body,
html {
  padding: 0;
  margin: 0;
}

#root {
  min-height: 100vh;
  background-color: #0C54A0;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
}


.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
}

.text {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.active {
  font-weight: 700;
}

@media(max-width: 760px){
  .container{
    padding: 0.5rem;
  }
}